* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212be;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;  /* Texto branco para contraste */
}

.container {
    background: #121212;  /* Fundo escuro do container */
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6); /* Sombra forte */
    width: 100%;
    max-width: 600px;
    border: 2px solid #b5b5b5;  /* Borda metálica clara */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #ffd700;  /* Dourado, para dar um toque de LoL */
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-size: 16px;
    color: #b0b0b0;  /* Cinza claro */
}

input, select, button {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    border: 2px solid #444;  /* Borda escura e sólida */
    background-color: #222;  /* Fundo escuro para os campos */
    transition: all 0.3s ease-in-out;
}

input:focus, select:focus {
    border-color: #ffd700;  /* Borda dourada quando o campo é selecionado */
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);  /* Efeito de brilho dourado */
    outline: none;
}

button {
    background-color: #ffd700;  /* Dourado brilhante */
    color: #222;  /* Texto escuro para contraste */
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    padding: 14px;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
    text-transform: uppercase;
}

button:hover {
    background-color: #e5c400;  /* Cor dourada mais escura no hover */
    transform: scale(1.05);  /* Aumenta o botão quando passar o mouse */
}

button:active {
    background-color: #bfa300;  /* Cor do botão quando clicado */
}

input.rota {
    margin-top: 5px;
    margin-bottom: 10px;
}

select {
    background-color: #2a2a2a;  /* Fundo escuro para selects */
    border: 1px solid #444;  /* Borda escura para selects */
}

select:focus {
    border-color: #ffd700;  /* Borda dourada no foco */
    box-shadow: 0 0 5px rgba(255, 215, 0, 0.6);  /* Efeito de foco com brilho dourado */
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
        width: 90%;
    }

    h1 {
        font-size: 26px;
    }

    input, select, button {
        font-size: 16px;
    }
}
